In [1]:
import pandas as pd

In [4]:
df=pd.read_csv(r"C:\Users\chaud\Downloads\archive.zip",
               header=0,index_col=0)
df.head()

,Customer ID,Platform,Order Date & Time,Delivery Time (Minutes),Product Category,Order Value (INR),Customer Feedback,Service Rating,Delivery Delay,Refund Requested
Order ID,,,,,,,,,,
ORD000001,CUST2824,JioMart,19:29.5,30,Fruits & Vegetables,382,"Fast delivery, great service!",5,No,No
ORD000002,CUST1409,Blinkit,54:29.5,16,Dairy,279,Quick and reliable!,5,No,No
ORD000003,CUST5506,JioMart,21:29.5,25,Beverages,599,Items missing from order.,2,No,Yes
ORD000004,CUST5012,JioMart,19:29.5,42,Beverages,946,Items missing from order.,2,Yes,Yes
ORD000005,CUST4657,Blinkit,49:29.5,30,Beverages,334,"Fast delivery, great service!",5,No,No

In [15]:
zepto_valuation = 5_000_000_000  # USD
print(f"Zepto's current valuation is ${zepto_valuation:,}")

Zepto's current valuation is $5,000,000,000

In [16]:
valuation_history = {
    "2021": 60_000_000,
    "2022": 900_000_000,
    "2023": 1_400_000_000,
    "2024": 5_000_000_000
}
for year, value in valuation_history.items():
    print(f"{year}: ${value:,}")

2021: $60,000,000
2022: $900,000,000
2023: $1,400,000,000
2024: $5,000,000,000

In [17]:
funding_rounds = [2_000_000, 60_000_000, 200_000_000, 500_000_000]
total_funding = sum(funding_rounds)
print(f"Total funding raised: ${total_funding:,}")

Total funding raised: $762,000,000

In [18]:
revenue = {
    "2022": 150_000_000,
    "2023": 400_000_000,
    "2024": 750_000_000
}
for year, amount in revenue.items():
    print(f"{year} revenue: ${amount:,}")

2022 revenue: $150,000,000
2023 revenue: $400,000,000
2024 revenue: $750,000,000

In [19]:
unit_economics = {
    "average_order_value": 300,
    "delivery_cost": 50
}
for key, value in unit_economics.items():
    print(f"{key.replace('_', ' ').title()}: ₹{value}")

Average Order Value: ₹300
Delivery Cost: ₹50

In [8]:
projected_ipo_valuation = 6_500_000_000  # Hypothetical
print(f"Projected IPO Valuation: ${projected_ipo_valuation:,}")

Projected IPO Valuation: $6,500,000,000

In [9]:
zepto_unit_economics = {
    "avg_order_value": 300,
    "delivery_cost": 50,
    "gross_margin": 0.25
}
print("Zepto Unit Economics:")
for k, v in zepto_unit_economics.items():
    print(f"{k}: {v}")

Zepto Unit Economics:
avg_order_value: 300
delivery_cost: 50
gross_margin: 0.25

In [10]:
operating_margin = {
    "2022": -0.35,
    "2023": -0.20,
    "2024": -0.10
}
print("Operating Margin (%):")
for year, margin in operating_margin.items():
    print(f"{year}: {margin * 100:.1f}%")

Operating Margin (%):
2022: -35.0%
2023: -20.0%
2024: -10.0%

In [20]:
expenses = {
    "Logistics": 40,
    "Marketing": 30,
    "Technology": 20,
    "Admin": 10
}
for category, percent in expenses.items():
    print(f"{category}: {percent}% of total expenses")

Logistics: 40% of total expenses
Marketing: 30% of total expenses
Technology: 20% of total expenses
Admin: 10% of total expenses

In [12]:
financial_risks = [
    "High burn rate",
    "Intense competition",
    "Thin margins",
    "Customer retention costs",
    "Regulatory uncertainty"
]
print("Key Financial Risks:")
for risk in financial_risks:
    print(f"- {risk}")

Key Financial Risks:
- High burn rate
- Intense competition
- Thin margins
- Customer retention costs
- Regulatory uncertainty

In [21]:
ipo_valuation = 6_500_000_000(#initial public offering)
print(f"Expected IPO valuation: ${ipo_valuation:,}")

Expected IPO valuation: $6,500,000,000

In [14]:
# Question 10: How would Zepto's valuation change under different growth scenarios?
growth_scenarios = {
    "base_case": 6_500_000_000,
    "bull_case": 8_000_000_000,
    "bear_case": 5_000_000_000
}
print("Valuation Scenarios (USD):")
for case, value in growth_scenarios.items():
    print(f"{case}: ${value:,}")

Valuation Scenarios (USD):
base_case: $6,500,000,000
bull_case: $8,000,000,000
bear_case: $5,000,000,000

In [22]:
total_cost = 800_000_000
target_profit_margin = 0.10

required_revenue = total_cost / (1 - target_profit_margin)
print(f"Breakeven revenue for 10% profit: ${required_revenue:,.0f}")

Breakeven revenue for 10% profit: $888,888,889

In [23]:
buy_price = 65
sell_price = 90

return_percent = ((sell_price - buy_price) / buy_price) * 100
print(f"Investor return: {return_percent:.2f}%")

Investor return: 38.46%